.popup__button-close {
  background-image: url('../../../images/close_icon.svg');
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-size: contain;
  border: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -158px;
  margin-left: 223px;
}

.popup__button-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 530px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    margin-top: -131px;
    margin-left: 121px;
  }
}